<h1 class="fr-h5">Impossible de vous certifier ⚠️</h1>
<hr class="hr-personalized-step-three fr-mb-3w">

<div>
  <p>Des discordances ont été détectées entre votre identité <b>FranceConnect</b> (affichée ici) et celle connue du <b><%= dataSourceLabel; %></b> pour <b><%= organization_label; %></b>.


  <div class="fr-pl-1w <%= locals.matches.has('given_name') ? '' : 'info-mismatch' %>">
    <% if (!locals.matches.has('given_name')) { %>
      <p class="fr-badge fr-badge--warning">Informations discordantes</p>
    <% } %>
    <p class="fr-mb-0 fr-text--sm">
      Prénom
    </p>
    <p class="fr-mb-2w">
      <b><%= user_info.given_name; %></b>
    </p>
  </div>

  <div class="fr-pl-1w <%= locals.matches.has('family_name') ? '' : 'info-mismatch' %>">
    <% if (!locals.matches.has('family_name')) { %>
      <p class="fr-badge fr-badge--warning">Informations discordantes</p>
    <% } %>
    <p class="fr-mb-0 fr-text--sm">
      Nom
    </p>
    <p class="fr-mb-2w">
      <b><%= user_info.family_name; %></b>
    </p>
  </div>

  <% if (user_info.gender) { %>
  <div class="fr-pl-1w <%= locals.matches.has('gender') ? '' : 'info-mismatch' %>">
    <% if (!locals.matches.has('gender')) { %>
      <p class="fr-badge fr-badge--warning">Informations discordantes</p>
    <% } %>
    <p class="fr-mb-0 fr-text--sm">
      Genre
    </p>
    <p class="fr-mb-2w">
      <b><%- include('../partials/gender.ejs', {gender: user_info.gender}) %></b>
    </p>
  </div>
  <% } %>

  <div class="fr-pl-1w <%= locals.matches.has('birth_date') ? '' : 'info-mismatch' %>">
    <% if (!locals.matches.has('birth_date')) { %>
      <p class="fr-badge fr-badge--warning">Informations discordantes</p>
    <% } %>
    <p class="fr-mb-0 fr-text--sm">
      Date de naissance
    </p>
    <p class="fr-mb-2w">
      <b>
        <time
          datetime="<%= new Date(user_info.birthdate).toISOString() %>"
          title="<%= user_info.birthdate %>">
          <%= new Date(user_info.birthdate).toLocaleDateString("fr-FR"); %>
        </time>
      </b>
    </p>
  </div>

  <div class="fr-pl-1w <%= locals.matches.has('birth_place') ? '' : 'info-mismatch' %>">
    <% if (!locals.matches.has('birth_place')) { %>
      <p class="fr-badge fr-badge--warning">Informations discordantes</p>
    <% } %>
    <p class="fr-mb-0 fr-text--sm">
      Commune de naissance
    </p>
    <p>
      <b><%= user_info.birthplace; %></b>
    </p>
  </div>

  <a
    class="fr-btn fr-btn--primary btn--fullwidth fr-mb-2w"
    href="https://annuaire-entreprises.data.gouv.fr/dirigeants/<%= locals.siren; %>"
    rel="noopener noreferrer"
    target="_blank"
    <%= locals.matches.has("birth_date") ? "hidden" : "" %>
  >
    Vérifier sur l’Annuaire des Entreprises
  </a>
  <a
    class="fr-btn fr-btn--secondary btn--fullwidth fr-mb-2w"
      href="https://proconnect.crisp.help/fr/article/je-souhaite-corriger-mes-donnees-pour-la-certification-dirigeant-j44541/"
      rel="noopener noreferrer"
      target="_blank"
  >
    Comment corriger les données ?
  </a>

  <% if (locals.interactionId && locals.oidcError) { %>
  <a href="/interaction/<%= interactionId ;%>/error?error=<%= locals.oidcError %>" class="fr-btn fr-btn--tertiary btn--fullwidth">Continuer sur le service</a>
  <% } else { %>
  <a href="/" class="fr-btn fr-btn--tertiary btn--fullwidth">Retour à l’accueil</a>
  <% } %>
</div>
