<div>
  <div class="fr-mb-2w">
    <img src="/dist/alert.svg" alt="" />
  </div>
  <h1 class="fr-h2">Nous n’arrivons pas à certifier votre compte.</h1>

  <div>
    <div class="fr-alert fr-alert--error fr-mb-2w">
      <p class="fr-alert__title">
        Les informations de votre identité ne correspondent pas exactement aux registres officiels.
      </p>
    </div>

    <p>
      Des discordances ont été détectées entre votre identité <b>FranceConnect</b>
      (affichée ici) et celle connue du <b><%= source_label; %></b> pour <b><%= organization_label; %></b>.
    </p>

    <p>
      Prénom <%= locals.matches.has("first_name") ? "✅" : "❌"%><br/>
      <b><%= user_info.given_name; %></b>
    </p>
    <p>
      Nom <%= locals.matches.has("family_name") ? "✅" : "❌"%><br/>
      <b><%= user_info.family_name; %></b>
    </p>

    <% if (user_info.gender) { %>
    <p>
      Genre <%= locals.matches.has("gender") ? "✅" : "❌"%><br/>
      <b><%- include('../partials/gender.ejs', {gender: user_info.gender}) %></b>
    </p>
    <% } %>

    <p>
      Date de naissance <%= locals.matches.has("birth_date") ? "✅" : "❌"%><br/>
      <b>
        <time
          datetime="<%= new Date(user_info.birthdate).toISOString() %>"
          title="<%= user_info.birthdate %>">
          <%= new Date(user_info.birthdate).toLocaleDateString("fr-FR"); %>
        </time>
      </b>
    </p>

    <p>
      Commune de naissance <%= locals.matches.has("birth_place") ? "✅" : "❌"%><br/>
      <b><%= user_info.birthplace; %></b>
    </p>

    <p>
      <a
        class="fr-btn fr-btn--primary fr-mb-2w"
        href="https://annuaire-entreprises.data.gouv.fr/dirigeants/<%= locals.siren; %>"
        rel="noopener noreferrer"
        target="_blank"
        <%= locals.matches.has("birth_date") ? "hidden" : "" %>
      >
        Vérifier sur l’Annuaire des Entreprises
      </a>
      <a
        class="fr-btn fr-btn--secondary fr-mb-2w"
          href="https://proconnect.crisp.help/fr/article/je-souhaite-corriger-mes-donnees-pour-la-certification-dirigeant-j44541/"
          rel="noopener noreferrer"
          target="_blank"
      >
        Comment corriger les données ?
      </a>
    </p>

    <% if (locals.interactionId && locals.oidcError) { %>
    <a href="/interaction/<%= interactionId ;%>/error?error=<%= locals.oidcError %>" class="fr-btn fr-btn--secondary">Continuer sur le service</a>
    <% } else { %>
    <a href="/" class="fr-btn fr-btn--secondary">Retour à l’accueil</a>
    <% } %>
  </div>
</div>
