<div>
  <h1 class="fr-h5"><%= allowEditing ? "Modifications demandées" : "Demande refusée ⛔" %></h1>
  <hr class="hr-personalized fr-mb-3w">
  <div>
    <p>
      <b> Motif : <%= rejectionReason %> <br /> </b>
      <% if (allowEditing) { %>
        Corrigez l'information pour que votre demande soit de nouveau étudiée.
      <% } else { %>
        Nous n’avons pas pu établir de lien entre l’organisation et vous. Contactez-nous si vous avez d’autres éléments à nous fournir.
      <% } %>
    </p>
  </div>
</div>

<p class="fr-mb-0 fr-text--sm">Prénom</p>
<div class="fr-grid-row fr-grid-row--middle">
  <div class="fr-col">
    <p class="fr-mb-2w"><b><%= given_name; %></b></p>
  </div>
  <div class="fr-col-auto">
    <% if (allowEditing) { %>
      <%- include(
        '../partials/icon-edit-personal-info-form.ejs',
        {
          actionForUpdateModeration: `/users/reopen-moderation/${moderation_id}`,
          messageToDisplay: "Corriger le prénom"
        }
      ) %>
    <% } %>
  </div>
</div>

<p class="fr-mb-0 fr-text--sm">Nom</p>
<div class="fr-grid-row fr-grid-row--middle">
  <div class="fr-col">
    <p class="fr-mb-2w"><b><%= family_name; %></b></p>
  </div>
  <div class="fr-col-auto">
    <% if (allowEditing) { %>
      <%- include(
        '../partials/icon-edit-personal-info-form.ejs',
        {
          actionForUpdateModeration: `/users/reopen-moderation/${moderation_id}`,
          messageToDisplay: "Corriger le nom"
        }
      ) %>
    <% } %>
  </div>
</div>

<p class="fr-mb-0 fr-text--sm">Email</p>
<div class="fr-grid-row fr-grid-row--middle">
  <div class="fr-col">
    <p class="fr-mb-2w"><b><%= email; %></b></p>
  </div>
  <div class="fr-col-auto">
    <%- include(
      '../partials/icon-edit-personal-info-form.ejs',
      {
        actionForUpdateModeration: `/users/start-sign-in`,
        messageToDisplay: "Changer d’adresse email",
      }
    ) %>
  </div>
</div>

<%- include('../partials/organization-info-tile.ejs', {
  label: organization_label,
  adresse,
  siret,
  siege_social
  tileClass: 'fr-mt-2w'
}) %>
<form
  action="/users/cancel-moderation-and-redirect-to-join-org/<%= moderation_id %>"
  method="post"
>
  <input type="hidden" name="_csrf" value="<%= csrfToken; %>" />
  <button 
    type="submit" 
    class="fr-btn btn--fullwidth fr-icon-edit-line fr-btn--icon-left fr-btn--tertiary js-confirm"
    data-confirm="Cette action annulera votre demande en cours. Voulez vous continuer ?"
    aria-label="Corriger l'organisation de rattachement"
    title="Corriger l'organisation de rattachement"
  >
    Changer d'organisation
  </button>
</form>
<script type="module" src="<%= js('confirm.js') %>"></script>
