<div>
    <%- include('../partials/notifications.ejs', {notifications: notifications, noWrapperDiv: true}) %>
    <div class="fr-mb-2w">
        <h1 class="fr-h3">
            Confirmer votre adresse email
        </h1>
        <div>
            <form id="verify-email" method="GET" action="/users/official-contact-email-verification/<%= organization_id %>" autocomplete="off">
                <div class="fr-alert fr-alert--info fr-mb-3w fr-col-11">
                    <h2 class="fr-alert__title fr-h3">Un code secret va être envoyé à l'adresse email officielle</h2>
                </div>
                <p>À quelle adresse e-mail souhaitez-vous recevoir le code ?</p>

                <input type="hidden" name="_csrf" value="<%= csrfToken; %>" />

                <fieldset class="fr-fieldset">
                    <% contactEmails.forEach(function(email) { %>
                        <div class="fr-fieldset__element">
                            <div class="fr-radio-group">
                                <input type="radio" id="email-<%= email %>" name="contact_email" value="<%= email %>" required>
                                <label class="fr-label" for="email-<%= email %>"><%= email %></label>
                            </div>
                        </div>
                    <% }); %>
                </fieldset>
                <%- include('../partials/submit-button.ejs', {label: 'Valider'}) %>

            </form>
            <%- include('../partials/go-back.ejs') %>
        </div>
    </div>
</div>
