<div>
    <%- include('../partials/notifications.ejs', {notifications: notifications, noWrapperDiv: true}) %>
    <h1 class="fr-h5 fr-mb-1w">Compléter votre profil</h1>
    <hr class="hr-personalized fr-mb-3w">
    <% if (locals.needs_inclusionconnect_onboarding_help) { %>
        <div class="fr-callout fr-callout--blue-ecume fr-icon-lightbulb-line">
            <p class="fr-callout__text">
                Nous avons pré-rempli ces informations. Vous pouvez toujours les mettre à jour.
            </p>
        </div>
    <% } %>
    <div>
        <p aria-hidden="true" class="fr-text--xs fr-mb-1w"><i>Les champs notés * sont obligatoires.</i></p>

        <form action="/users/personal-information" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken; %>">

            <div class="fr-input-group fr-mb-2w">
                <label class="fr-label" for="given_name">
                    Prénom<span aria-hidden="true">*</span>
                    <span class="fr-sr-only">obligatoire</span>
                    <% if (locals.hasFranceConnectIdentity) { %>
                      <span class="fr-hint-text">
                        Issu de votre vérification par <b>FranceConnect</b>
                      </span>
                    <% } %>
                </label>
                <input
                        class="fr-input" required type="text" name="given_name"
                        pattern="[^$\&+:;=?@#\|<>.^*\(\)%!\d_\[\]\{\}\\\/\x22`~]*"
                        title="un nom ne doit pas contenir de chiffres ou de caractères spéciaux"
                        id="given_name"
                        autocomplete="given-name"
                <% if (given_name) { %>value="<%= given_name; %>"<% } %>
                <% if (locals.hasFranceConnectIdentity) { %> readonly="readonly" <% } %>
                >
            </div>

            <div class="fr-input-group fr-mb-2w">
                <label class="fr-label" for="family_name">
                    Nom<span aria-hidden="true">*</span>
                    <% if (locals.hasFranceConnectIdentity) { %>
                      <span class="fr-hint-text">
                        Issu de votre vérification par <b>FranceConnect</b>
                      </span>
                    <% } %>
                </label>
                <input
                        class="fr-input" required type="text" name="family_name"
                        pattern="[^$\&+:;=?@#\|<>.^*\(\)%!\d_\[\]\{\}\\\/\x22`~]*"
                        title="un nom ne doit pas contenir de chiffres ou de caractères spéciaux"
                        id="family_name"
                        autocomplete="family-name"
                <% if (family_name) { %>value="<%= family_name; %>"<% } %>
                <% if (locals.hasFranceConnectIdentity) { %> readonly="readonly" <% } %>
                >
            </div>

            <div class="fr-input-group fr-mb-2w">
                <label class="fr-label" for="job">
                    Rôle
                    <span class="fr-hint-text">
                        Votre fonction dans votre organisation
                    </span>
                </label>
                <input
                    class="fr-input"
                    type="text"
                    name="job"
                    id="job"
                    autocomplete="organization-title"
                    <% if (job) { %> value="<%= job; %>"<% } %>
                >
            </div>
            <%- include('../partials/submit-button.ejs', {label: 'Continuer'}) %>
        </form>
        <%- include('../partials/go-back.ejs') %>
    </div>
</div>
