<div>
    <%- include('../partials/notifications.ejs', {notifications: notifications, noWrapperDiv: true}) %>
    <h1 class="fr-h3">
        Confirmer votre adresse email
    </h1>
    <% if (locals.needs_inclusionconnect_onboarding_help) { %>
        <div class="fr-callout fr-callout--blue-ecume fr-icon-lightbulb-line">
            <p class="fr-callout__text">
                Pour vérifier que vous avez bien accès à votre email, nous utilisons un code de confirmation.
            </p>
        </div>
    <% } %>
    <div>
        <form id="verify-email" action="/users/verify-email" method="post" class="fr-mb-4w">
            <% if (codeSent || newCodeSent) { %>
                <div class="fr-alert fr-alert--info fr-mb-4w">
                    <h2 class="fr-h6">Code de vérification envoyé</h2>
                    <p>Vérifiez les emails reçus par <b><%= email; %></b>.
                    </p>
                </div>
            <% } %>
            <input type="hidden" name="_csrf" value="<%= csrfToken; %>" />
            <div class="fr-input-group fr-mb-2w">
                <label class="fr-label" for="verify_email_token">
                    Code de confirmation
                    <span class="fr-hint-text">
                        Insérer le code à 10 chiffres reçu par email
                    </span>
                </label>
                <input
                        class="fr-input" required
                        pattern="^\s*(\d\s*){10}$" type="text" id="verify_email_token"
                        title="10 chiffres"
                        name="verify_email_token"
                >
            </div>
            <%- include('../partials/submit-button.ejs', {label: 'Valider'}) %>
        </form>
        <form
            class="inline-form" autocomplete="off"
            action="/users/send-email-verification"
            method="post"
        >
            <input type="hidden" name="_csrf" value="<%= csrfToken; %>">
            <button 
                data-countdown-end-date="<%= countdownEndDate %>"
                class="fr-btn fr-btn--tertiary fr-mb-2w disabled-with-countdown btn--fullwidth"
            >
                Recevoir un nouveau code
            </button>
            <p class="countdown-container blue-france fr-hidden centered-content">
                <b>
                    <span aria-hidden="true" class="fr-icon-timer-line"></span>
                    <span class="countdown-time"></span>
                </b>
            </p>
        </form>
    </div>
    <%- include('../partials/go-back.ejs') %>
</div>
<script type="module" src="<%= js('disabled-with-countdown.js') %>"></script>
