  <% const feminin = user.gender === 'female' ? 'e' : ''; %>
  <h1 class="fr-h3">
    Statut certifié 🎊
  </h1>
  <div>
    <p>
        Vous êtes bien certifié<%= feminin %> en tant que dirigeant<%= feminin %> de <b><%= organization.libelle %></b>.
    </p>

    <p class="fr-mb-0 fr-text--sm">
      Prénom
    </p>
    <p class="fr-mb-2w">
      <b><%= user.given_name; %></b>
    </p>

    <p class="fr-mb-0 fr-text--sm">
      Nom
    </p>
    <p class="fr-mb-2w">
      <b><%= user.family_name; %></b>
    </p>

    <p class="fr-mb-0 fr-text--sm">
      Email professionnel
    </p>
    <p class="fr-mb-2w">
      <b><%= user.email; %></b>
    </p>
    
    <p class="fr-mb-0 fr-text--sm">
      Date de naissance
    </p>
    <p class="fr-mb-2w">
      <b><%= user.formattedBirthDate %></b>
    </p>

    <p class="fr-mb-0 fr-text--sm">
      Commune de naissance
    </p>
    <p class="fr-mb-2w">
      <b><%= user.birthPlace %></b>
    </p>
    <% if (locals.organization) { %>
      <div class="fr-tile fr-tile--horizontal fr-mb-2w">
        <div class="fr-tile__body">
            <h2 class="fr-tile__title">
                <%= organization.libelle %>
            </h2>
            <% if (organization.adresse) { %>
                <p class="fr-tile__desc fr-pb-0"><%= organization.adresse %></p>
            <% } %>
            <% if (organization.siret) { %>
                <p class="fr-tile__desc fr-pb-0"><b>SIRET : <%= organization.siret %></b></p>
            <% } %>
        </div>
      </div>
    <% } %>
    <form action="/users/welcome" method="post">
      <input type="hidden" name="_csrf" value="<%= csrfToken; %>">

      <%- include('../partials/submit-button.ejs', {label: 'Continuer'}) %>
    </form>
  </div>
