<div>
    <h1 class="fr-h3">
        <% if (locals.showInclusionConnectOnboardingHelp) { %>
            Votre compte ProConnect est à jour.
        <% } %>
    </h1>
    <% if (!locals.showInclusionConnectOnboardingHelp) { %>
        <h1 class="fr-h5 fr-mb-1w">Compte créé 🎊</h1>
        <hr class="hr-personalized fr-mb-3w">
    <% } %>
    <div>
        <p class="fr-mb-0 fr-text--sm">Prénom</p>
        <p class="fr-mb-2w"><b><%= user.given_name %></b></p>
        <p class="fr-mb-0 fr-text--sm">Nom</p>
        <p class="fr-mb-2w"><b><%= user.family_name %></b></p>
        <p class="fr-mb-0 fr-text--sm">Email professionnel</p>
        <p class="fr-mb-2w"><b><%= user.email %></b></p>

        <% if (locals.organization) { %>
            <% if (locals.organization) { %>
            <%- include('../partials/organization-info-tile.ejs', {
                label: organization.libelle,
                adresse: organization.adresse,
                siret: organization.siret,
                siege_social: organization.siege_social,
            }) %>
            <% } %>
        <% } %>
        <form action="/users/welcome" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken; %>">
            <%- include('../partials/submit-button.ejs', {label: 'Continuer'}) %>
        </form>
    </div>
</div>
